<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiwon.airbnb.reservation.dao.ReservationDAO">
	<select id="selectReservationList" parameterType="int" resultType="com.jiwon.airbnb.reservation.model.Reservation">
		SELECT
			`id`
			, `userId`
			, `roomId`
			, `date`
			, `days`
			, `headcount`
			, `createdAt`
		FROM
			`reservation`
		WHERE
			`userId` = #{userId}	
	</select>
	
	<insert id="insertReservation" parameterType="map">
		INSERT INTO
			`reservation`
		(
			`userId`
			, `roomId`
			, `date`
			, `days`
			, `headcount`
			, `createdAt`
		)
		VALUE
		(
			#{userId}
			, #{roomId}
			, #{date}
			, #{days}
			, #{headcount}
			, now()
		)
	</insert>
</mapper>