<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiwon.airbnb.room.dao.RoomDAO">
	<select id="selectRoomList" resultType="com.jiwon.airbnb.room.model.Room">
		SELECT
			`id`
			, `userId` 
		    , `type`
		    , `privacy`
		    , `address`
		    , `headcount` 
		    , `bed`
		    , `bedroom`
		    , `bathroom`
		    , `selfCheckin`
		    , `charge`
		    , `rating`
		    , `countReservation`
		    , `roomName`
		    , `roomDescription`
		    , `createdAt`
		    , `updatedAt`
		FROM
			`room`
		ORDER BY
			`countReservation` DESC
	</select>
	
	<select id="selectRoomListByType" parameterType="int" resultType="com.jiwon.airbnb.room.model.Room">
		SELECT
			`id`
			, `userId` 
		    , `type`
		    , `privacy`
		    , `address`
		    , `headcount` 
		    , `bed`
		    , `bedroom`
		    , `bathroom`
		    , `selfCheckin`
		    , `charge`
		    , `rating`
		    , `countReservation`
		    , `roomName`
		    , `roomDescription`
		    , `createdAt`
		    , `updatedAt`
		FROM
			`room`
		WHERE
			`type` = #{type}
		ORDER BY
			`countReservation` DESC
	</select>
	
	<select id="selectRoom" parameterType="int" resultType="com.jiwon.airbnb.room.model.Room">
		SELECT
			`id`
			, `userId` 
		    , `type`
		    , `privacy`
		    , `address`
		    , `headcount` 
		    , `bed`
		    , `bedroom`
		    , `bathroom`
		    , `selfCheckin`
		    , `charge`
		    , `rating`
		    , `countReservation`
		    , `roomName`
		    , `roomDescription`
		    , `createdAt`
		    , `updatedAt`
		FROM
			`room`
		WHERE
			`id` = #{roomId}
	</select>
</mapper>