@charset "UTF-8";
#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}
header {
	width:1200px;
	height:60px;
	margin:auto;
}
section {
	width:1200px;
	height:650px;
	margin:auto;
	position: relative;
}
a:link {
  color : black;
  text-decoration-line: none;
}
a:visited {
  color : black;
}
a:hover {
  background-color : gray;
}
#hostDiv {
	width:800px;
	position: absolute;
 	top: 25%;
}
#typeDiv {
	width:800px;
	position: absolute;
 	top: 20%;
 	left: 20%;
}
#typeBox {
	width:600px;
}
.typeBtn {
	width:100px;
	height:50px;
}
.privacyBtn {
	width:600px;
	height:100px;
}
#nextBtn {
	position: absolute;
	bottom: 20%;
	right: 4%;
}