@charset "UTF-8";
#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}
header {
	width:1200px;
	height:80px;
}
section {
	width:1200px;
}
#tabMenu {
	width:1200px;
	height:50px;
}
#roomList {
	width:1200px;
}
.room {
	width:25%;
}
.relative {
	position:relative;
}
.room-like{
	position: relative;
  	top: 30px;
  	left: 220px;
}
#signinBox {
	width:400px;
	height:400px;
	margin:auto;
	border: 1px solid;
	border-radius: 20px;
}
#login {
	margin:auto;
}
#signupBox {
	width:400px;
	height:530px;
	margin:auto;
	border: 1px solid;
	border-radius: 20px;
}
/* a {
  text-decoration: none;
} */