@charset "UTF-8";
#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}
header {
	width:1200px;
	height:80px;
	margin:auto;
}
#detailHeader {
	width:900px;
	margin:auto;
}
section {
	width:1200px;
	margin:auto;
}
.detailBox {
	width:900px;
	margin:auto;
}
aside > #descBox {
	width:400px;
}
aside > #reservBox {
	width:400px;
}
#mapBox {
	width:800px;
	height:400px;
	margin:auto;
}
#tabMenu {
	width:1200px;
	height:50px;
}
#roomList {
	width:1200px;
}
.room {
	width:25%;
}
.relative {
	position:relative;
}
.room-like{
	position: relative;
  	top: 30px;
  	left: 220px;
}
#signinBox {
	width:400px;
	height:400px;
	margin:auto;
	border: 1px solid;
	border-radius: 20px;
}
#login {
	margin:auto;
}
#signupBox {
	width:400px;
	height:530px;
	margin:auto;
	border: 1px solid;
	border-radius: 20px;
}
